body{
	margin:    0;
	padding:   0;
	font-size: 12px;
}


svg { 
	width: 	  100vw;
	height:	  100vh;
	z-index: -10;
	overflow: hidden;
	position: absolute;
}


text{
	font-size:    2.5em;
	font-family: 'Raleway', 'Verdana',  serif;
}


text tspan{	
	font-size: 0.6em;
}


.random_color:hover { 
	opacity :1 !important;
}
